

.main_container {
    width: 90%;
}

.main_content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 4rem;
}
.main_content_container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 4rem;
    width: 100%;
}


.hero_section {
    position: relative;
}
.hero_section::before {
    content: "";
    position: absolute;
    width: 300px;
    height: 350px;
    background-image: linear-gradient(to top,#ddc798,#ffecbd);
    z-index: 50; 
    top: -10vh;
    right: 0;
    border-bottom-left-radius: 10rem;
    
}
.hero_section::after {
    content: "";
    position: absolute;
    width: 250px;
    height: 350px;
    background-image: linear-gradient(to top,#ddc798,#ffecbd);
    bottom: 0;
    left: 0;
}
.hero_section_container {
    width: 90%;
    height: 100%;
    display: flex;
    justify-content: space-between;
}
.hero_section_text {
    width: 45%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 1rem;
}
h1 {
    font-size: 3.5rem;
}
.hero_section_link,
.deal_of_the_day_text_link {
    background-color: black;
    color: white;
    width: fit-content;
    padding-inline: 2rem;
    padding-block: 20px;
}
.hero_section_link {
    z-index: 11;
}
.hero_section_image {
    width: 40%;
    max-width: 450px;
    max-height: 545px;
    height: calc(100% - 20px);
    z-index: 11;
}

.hero_section_image img {
    object-fit: cover;
    border-bottom-left-radius: 6rem;
}

@media Screen and (max-width: 640px) {
    .hero_section_container {
        flex-direction: column;
        gap: 3rem;
    }
    .hero_section_image {
        width: 100%;
        align-self: flex-end;
        margin-bottom: 2rem;
    }
    .hero_section_text {
        width: 100%;
        z-index: 100;
        gap: 2rem;
    }
    .hero_section_text h1 {
        font-size: 2.5rem;
    }
    .hero_section::before {
        width: 200px;
        height: 270px;
    }
    
}

.new_collections {
    display: flex;
    flex-direction: column;
    gap: 1.3rem;
    width: 100%;
}

.new_collections_text {
    text-align: center;
}

.new_collections_images {
    display: flex;
    gap: 2rem;
    justify-content: center;
}

.new_collections_images img {
    object-fit: contain;
    width: 100%;
    height: 100%;
    max-width: 500px;
    max-height: 400px;
}


@media screen and (max-width:640px) {
    .new_collections_images {
        flex-direction: column;
    }
}

.best_fashion {
    display: flex;
    justify-content: center;
}

.best_fashion_container {
    width: 80%;
    display: flex;
    gap: 5%;
}

.best_fashion_image {
    width: 40%;
    position: relative;
}

.best_fashion_image img {
    object-fit: cover;
    border-top-left-radius: 5rem;
    height: 500px;
}

.best_fashion_overlay_box {
    display: flex;
    justify-content: space-around;
    padding: 1rem;
    text-align: center;
    border: 2px solid rgb(190, 190, 190);
    background-color: white;
    position: absolute;
    width: 100%;
    bottom: -5%;
    left: 80%;
}
.best_fashion_overlay_box span {
    display: block;
    width: 3px;
    height: 50px;
    background-color: gray;
}

.best_fashion_text {
    width: 50%;
    align-self: center;
    display: flex;
    flex-direction: column;
    gap: 1rem;
}
@media screen and (max-width:640px) {
    .best_fashion_container {
        flex-direction: column;
        width: 90%;
    }
   
    .best_fashion_image {
        order: 2;
        width: 100%;
    }
    .best_fashion_text {
        width: 100%;
    }
    .best_fashion_overlay_box {
        left: 5%;
        padding: 0.5rem;
    }
}

.best_seller_product {
    background-color: rgb(17, 4, 4);
    padding-block: 2.5rem;
}
.best_seller_product_container {
    margin-left: 5%;
    display: flex;
    justify-content: space-between;
    gap: 1rem;
    position: relative;
}
.best_seller_product_text {
    color: white;
    width: 40%;
    display: flex;
    flex-direction: column;
    gap: 2rem;
}
.best_seller_product_text p {
    font-size: 1.1rem;
    color: gray;
}
.best_seller_product_link {
    color: gray;
    width: fit-content;
    padding-inline: 2rem;
    padding-block: 10px;
    border: 2px solid gray;
}

@media screen and (max-width:640px) {
    .best_seller_product_container{
        flex-direction: column;
        overflow: hidden;
        
    }
    .best_seller_product_text {
        width: 100%;
    }
}

.our_product_container {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
}
.our_product_text {
    text-align: center;
}

.our_product_links {
    display: flex;
    justify-content: center;
    gap: 2rem;
}
.our_product_links a:hover {
    text-decoration: underline;
}
.our_product_images {
    display: grid;
    justify-content: space-between;
    gap: 1rem;
    grid-template-columns: repeat(auto-fit, minmax(350px, 400px));
}
@media screen and (max-width:640px) {
    .our_product_images {
        display: flex;
        flex-direction: column;
    }
    
}
.deal_of_the_day {
    display: flex;
    justify-content: center;
    background-color: #ffecbd;
    overflow: hidden;
    position: relative;
}
.deal_of_the_day_image::after {
    content: "";
    position: absolute;
    width: 200px;
    height: 200px;
    background-image: linear-gradient(to top,#ddc798,#ffecbd);
    border-bottom-left-radius: 6rem;
    top: 0;
    right: 0;
    z-index: -1;
}

.deal_of_the_day_container {
    width: 85%;
    display: flex;
    justify-content: space-between;
    gap: 1rem;
    margin-top: 6%;
}
.deal_of_the_day_text {
    width: 45%;
    display: flex;
    flex-direction: column;
    gap: 3rem;
}
.deal_of_the_day_description {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
    z-index: 999;
}
.deal_of_the_day_description p {
    font-size: 1.1rem;
}
.deal_of_the_day_time {
    display: flex;
    justify-content: space-between;
    gap: 1rem;
}
.deal_of_the_day_time div {
    background-color: white;
    display: flex;
    flex-direction: column;
    text-align: center;
    width: 50px;
    padding-inline: 1.8rem;
    padding-block: 0.5rem;
}
.deal_of_the_day_time div p {
    font-size: 2.8rem;
    font-weight: bolder;
}
.deal_of_the_day_time div span {
    font-weight: bold;
}
.deal_of_the_day_image {
    width: 450px;
    height: 500px;
    z-index: 11;
}

@media screen and (max-width: 640px) {
    .deal_of_the_day_container {
        flex-direction: column;
    }
    .deal_of_the_day_text {
        width: 100%;
    }   
}
